%section.ten-oh-announcement
  .ten-oh-label
    %span 13.0
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 13.0 introduces Gitaly Clusters, Epic Hierarchy on Roadmaps, Auto Deploy to ECS, and much more!

      .btn-group
        = link_to "/releases/2020/05/22/gitlab-13-0-released/", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
