<script>
import { formatAmount } from "./utils.js";

export default {
  props: {
    fixedCosts: {
      type: Array,
      required: true
    },
    personalBenefits: {
      type: Array,
      required: true
    }
  },
  computed: {
    totalFixedCosts() {
      return this.fixedCosts.reduce(function(total, item) {
        return total + item.amount;
      }, 0);
    },
    totalPersonalCosts() {
      return this.personalBenefits.reduce(function(total, item) {
        return total + item.amount;
      }, 0);
    }
  },
  methods: {
    formatAmount: formatAmount,
  }
};
</script>

<template>
  <section>
    <div class="col-sm-12 formula-container">
      <h4>Benefits and Remote work calculator</h4>
      <h4>Fixed Costs</h4>
      <p>
        The following pre-populated amounts are typical costs per year for team members who work in a traditional office environment
      </p>
      <div class="formula">
        <div v-for="(cost, index) in fixedCosts" :key="cost.title" class="variable-group" >
          <div class="variable benchmark">
            <span class="benefit-title">{{cost.title}}</span>
            <input
              v-model.number="cost.amount"
              class="small"
              type="number"
              min=0
            />
          </div>
          <div class="symbol multiplication" v-if="index !== fixedCosts.length - 1">+</div>
          <div class="symbol multiplication" v-else>=</div>
        </div>
        <div class="variable benchmark">
          <span class="benefit-title">Total</span>
          <span class="benefit-total">{{formatAmount(totalFixedCosts)}}</span>
        </div>
      </div>

      <h4>Remote work</h4>
      <div class="formula">
        <div v-for="(cost, index) in personalBenefits" :key="cost.title" class="variable-group" >
          <div class="variable benchmark">
            <span class="benefit-title">{{cost.title}}</span>
            <input
              v-model.number="cost.amount"
              class="small"
              type="number"
              min=0
            />
          </div>
          <div class="symbol multiplication" v-if="index !== personalBenefits.length - 1">+</div>
          <div class="symbol multiplication" v-else>=</div>
        </div>
        <div v-if='totalPersonalCosts > 0' class="variable benchmark">
          <span class="benefit-title">Total</span>
          <span  class="benefit-total">{{formatAmount(totalPersonalCosts)}}</span>
        </div>
        <div v-else class="variable benchmar">Priceless</div>
      </div>

      <p class='disclaimer'>
        As a <a href="https://gitlab.com/gitlab-com/people-group/peopleops-eng/people-operations-engineering/-/issues/116">next iteration</a> of the Benefits portion of the Calculator, we will begin adding in entity specific benefits to outline the total rewards value to team members based on their contract type.
      </p>
      <hr />
    </div>
  </section>
</template>
